* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 80vw;
  margin: 0 auto;
  font-size: 1.6rem;
}

#astro-image {
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: block;
}

h1 {
  text-align: center;
  color: darkblue;
}
